.mixin-bottom-shadow {
  width: 128px;
  height: 128px;
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 4px;
}
.mixin-button-reviews {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  text-shadow: 0 1px 2px rgba(0, 0, 1, 0.3);
  width: 117px;
  height: 33px;
  border: 1px solid transparent;
  outline: none;
  background-color: #31a5da;
}
.mixin-button-reviews:active {
  background-image: linear-gradient(to top, #2792c3 0%, #34abe1 100%);
}
.mixin-button-reviews p {
  border-left: 2px groove #63c7ec;
  padding: 7px;
  font-size: 14;
  color: #ffffff;
  text-shadow: 0 1px 0 #ffffff;
}
.mixin-head-tabs {
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
  text-transform: uppercase;
  color: #ffffff;
  background-image: linear-gradient(to top, #007472 0%, #008e8b 100%);
  border-radius: 10px 10px 0 0;
}
.container {
  margin: 0 auto;
  width: 960px;
  font-family: 'Open Sans', sans-serif;
}
.bacground-header {
  background-color: #c1d2d0;
  min-width: 960px;
  border-bottom: 2px solid #d9d2d2;
  overflow: hidden;
  background: linear-gradient(to bottom, #92afaf 0%, rgba(171, 189, 189, 0.87) 19%, rgba(196, 202, 202, 0.87) 38%, rgba(214, 214, 214, 0.87) 53%, rgba(222, 222, 222, 0.87) 100%);
}
.main {
  display: flex;
  justify-content: space-between;
  height: 170px;
  align-items: center;
}
.main h1 {
  font-size: 36px;
  font-weight: 400;
  color: #545b61;
  text-transform: uppercase;
}
.main h1 span {
  color: #ffffff;
  margin-left: 10px;
}
.main .menu {
  width: 70%;
}
.main .menu .basket {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.main .menu .basket .items {
  color: white;
  margin-left: 40px;
}
.main .menu .basket p {
  margin-left: 15px;
  font-size: 14px;
}
.main .menu nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: #007472;
}
.main .menu nav li {
  list-style: none;
  margin-left: 15px;
  transition: 0.5s color;
}
.main .menu nav li:hover {
  color: #eaaa21;
}
.main .menu nav a {
  text-decoration: none;
  color: #007472;
  transition: 0.5s color;
}
.main .menu nav a:hover {
  color: #eaaa21;
}
.main .menu nav .sing {
  outline: none;
  margin-left: 25px;
  font-size: 12px;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  width: 80px;
  border: 1px solid #d69d23;
  background-color: #efaf1f;
}
.main .menu nav .sing:active {
  content: '';
  box-shadow: inset 0px 0px 50px 19px #db9e1b;
}
.main .menu nav .register {
  outline: none;
  margin-left: 15px;
  font-size: 12px;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  width: 80px;
  border: 1px solid transparent;
  background-color: #279bce;
}
.main .menu nav .register:active {
  content: '';
  box-shadow: inset 0px 0px 50px 19px #2892bf;
}
.slash:before {
  content: "/";
  margin-left: 10px;
  margin-right: 10px;
}
.menu-phones {
  display: flex;
  justify-content: space-between;
  background-color: #007f7c;
  font-size: 15px;
  align-items: center;
  border-radius: 10px 10px 0 0;
}
.menu-phones ul {
  padding-left: 10px;
  display: flex;
  width: 60%;
  justify-content: space-around;
}
.menu-phones ul li {
  height: 75px;
  align-items: center;
  display: flex;
}
.menu-phones ul li:hover {
  background-image: url(../img/arrow-hover-copy.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.menu-phones ul a {
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}
.left-border {
  border-left: 1.5px solid #007472;
  padding-left: 15px;
}
.search-phone {
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-right: 20px;
  text-indent: 35px;
  color: #009c9a;
  font-size: 12px;
  height: 25px;
  width: 170px;
  border-radius: 10px;
  border: 3px solid transparent;
  outline: none;
  border-left: 20px solid transparent;
}
.buy-phone {
  background-image: url(../img/phone.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 70%;
  height: 400px;
}
.slider {
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: -3px 1px 66px -15px #000000;
}
.slider .Xperia {
  background: linear-gradient(to right, #def2f2 0%, #ffffff 92%, #ffffff 100%);
  width: 60%;
  padding: 25px 25px 25px 20px;
  margin-top: 25px;
}
.slider h2 {
  font-size: 48px;
  font-weight: 400;
  color: #383e44;
  margin-bottom: 15px;
}
.slider p {
  line-height: 2em;
  font-size: 14px;
  font-weight: 300;
  color: #50565c;
}
.slider .price {
  font-size: 48px;
  color: #fbb829;
  font-weight: 400;
  padding-left: 25px;
}
.slider button {
  width: 145px;
  height: 40px;
  background-color: #eaaa21;
  outline: none;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.3);
  color: white;
  font-size: 16px;
  border: 2px solid transparent;
  margin-left: 20px;
  margin-top: 25px;
}
.slider button:active {
  background-image: linear-gradient(to top, #e5a61f 0%, #fbb829 100%);
}
.croup-phones {
  display: flex;
  flex-direction: column;
  width: 30%;
  color: #383e44;
  font-size: 13px;
  line-height: 1.6em;
}
.croup-phones .choice-phone {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: 1px solid #d9d2d2;
  border-top: 1.5px solid #d9d2d2;
  border-bottom: 1px solid #d9d2d2;
  height: 100%;
  background-color: #e9e7e7;
  box-sizing: border-box;
  transition: 0.5s background-color;
}
.croup-phones .choice-phone .about-model {
  padding-right: 15px;
}
.croup-phones .choice-phone:hover {
  background-color: #ffffff;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: left center;
  border-left: none;
  padding-left: 1px;
  border-top: 1.5px solid #fbb829;
  border-bottom: 1px solid #fbb829;
}
.croup-phones .choice-phone:hover p {
  color: #009c9a;
}
.croup-phones .choice-phone h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.background-deals {
  background-color: #f2eaea;
}
.deals {
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
}
.sidebar-left {
  width: 25%;
}
.sidebar-left h4 {
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
  text-transform: uppercase;
  color: #ffffff;
  background-image: linear-gradient(to top, #007472 0%, #008e8b 100%);
  border-radius: 10px 10px 0 0;
  padding: 15px;
  box-shadow: 1px 1px 54px -16px #000000;
}
.sidebar-left .categories {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 250px;
}
.sidebar-left .categories .underscore {
  border-bottom: 1px solid #d9d2d2;
}
.sidebar-left .categories ul {
  border: 1px solid #d9d2d2;
  background-color: #ffffff;
  height: 100%;
}
.sidebar-left .categories li {
  list-style: none inside;
  list-style-image: url(../img/dot.png);
  padding: 12px 12px 12px 20px;
  transition: 0.5s background-color;
}
.sidebar-left .categories li:hover {
  background-color: #fbb829;
  border-bottom: 1px solid #fbb829;
}
.sidebar-left .categories li a {
  text-decoration: none;
  font-size: 15px;
  color: #50565c;
  margin-left: 25px;
}
.sidebar-left .whats-hot {
  width: 230px;
  height: 320px;
  margin-top: 20px;
  height: 100%;
}
.sidebar-left .whats-hot .underscore {
  border-bottom: 1px solid #d9d2d2;
}
.sidebar-left .blackberry-sale {
  font-size: 14px;
  color: #383e44;
  line-height: 1.8em;
  border: 1px solid #d9d2d2;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.5s background-color;
}
.sidebar-left .blackberry-sale p {
  margin-left: 10px;
}
.sidebar-left .blackberry-sale span {
  color: #fbb829;
  font-weight: 600;
  margin-right: 10px;
  transition: 0.5s color;
}
.sidebar-left .blackberry-sale:hover {
  background-color: #fbb829;
  border: 1px solid #fbb829;
}
.sidebar-left .blackberry-sale:hover span {
  color: red;
}
.background-products {
  background-image: linear-gradient(to top, #e9e7e7 0%, #e9e7e7 40%, #ffffff 50%, #f3f3f3 60%, #ffffff 99%, #ffffff 100%);
}
.products {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.products .head-deal-of-day {
  display: flex;
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
  text-transform: uppercase;
  color: #ffffff;
  background-image: linear-gradient(to top, #007472 0%, #008e8b 100%);
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #fbb829;
  transition: 0.5s background-color;
}
.products .head-deal-of-day .rounding:hover {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fbb829;
  border-radius: 10px 0px 0 0;
}
.products .head-deal-of-day p {
  padding: 15px;
  border-right: 1px solid #009c9a;
  transition: 0.5s background-color;
}
.products .head-deal-of-day p:hover {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fbb829;
}
.products-bar {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d2d2;
}
.products-bar .bottom-shadow {
  width: 128px;
  height: 128px;
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 4px;
}
.to-basket {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.to-basket .click-to-choice {
  display: flex;
  flex-direction: column;
  text-shadow: 0 1px 0 #ffffff;
  align-items: center;
  font-size: 14px;
  color: #383e44;
}
.to-basket .click-to-choice .reviews-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  text-shadow: 0 1px 2px rgba(0, 0, 1, 0.3);
  width: 117px;
  height: 33px;
  border: 1px solid transparent;
  outline: none;
  background-color: #31a5da;
}
.to-basket .click-to-choice .reviews-button:active {
  background-image: linear-gradient(to top, #2792c3 0%, #34abe1 100%);
}
.to-basket .click-to-choice .reviews-button p {
  border-left: 2px groove #63c7ec;
  padding: 7px;
  font-size: 14;
  color: #ffffff;
  text-shadow: 0 1px 0 #ffffff;
}
.products-dots {
  display: flex;
  justify-content: center;
  padding: 17px;
}
.products-dots .products-dot {
  width: 11px;
  height: 11px;
  background-color: #e2c280;
  border-radius: 50%;
  border: 1px solid #fefefe;
  margin: 5px;
  transition: 0.5s background-color;
}
.products-dots .products-dot:hover {
  background-color: #fbb829;
}
.head-featured-products {
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
  text-transform: uppercase;
  color: #ffffff;
  background-image: linear-gradient(to top, #007472 0%, #008e8b 100%);
  border-radius: 10px 10px 0 0;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
}
.head-featured-products .item-number {
  color: white;
  display: flex;
  font-weight: 700;
}
.head-featured-products .item-number p {
  transition: 0.5s color;
  margin: 5px;
}
.head-featured-products .item-number p:hover {
  color: #fbb829;
}
.all-phones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.phone-droid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  padding-bottom: 15px;
  padding-top: 25px;
  margin-top: 20px;
  border: 1px solid #d9d2d2;
  background-image: linear-gradient(to top, #e9e7e7 0%, #e9e7e7 30%, #ffffff 40%, #f3f3f3 50%, #ffffff 99%, #ffffff 100%);
}
.phone-droid .droid-256 {
  border-top: 1px solid #d9d2d2;
  width: 230px;
  text-align: center;
  margin-top: 20px;
  padding-top: 15px;
  text-shadow: 0 1px 0 #ffffff;
  font-size: 14px;
  color: #383e44;
}
.reviews-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  text-shadow: 0 1px 2px rgba(0, 0, 1, 0.3);
  width: 117px;
  height: 33px;
  border: 1px solid transparent;
  outline: none;
  background-color: #31a5da;
}
.reviews-button:active {
  background-image: linear-gradient(to top, #2792c3 0%, #34abe1 100%);
}
.reviews-button p {
  border-left: 2px groove #63c7ec;
  padding: 7px;
  font-size: 14;
  color: #ffffff;
  text-shadow: 0 1px 0 #ffffff;
}
.bottom-shadow {
  width: 128px;
  height: 128px;
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 4px;
}
.to-basket-droid {
  display: flex;
  align-items: center;
}
.to-basket-droid .price-399 {
  margin-top: 15px;
  margin-right: 20px;
  font-size: 18px;
  color: #fbb829;
}
.background-footer {
  background-color: grey;
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.register-footer {
  outline: none;
  margin-left: 130px;
  font-size: 12px;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  width: 80px;
  border: 1px solid transparent;
  background-color: #e9aa21;
  margin-top: 10px;
}
.register-footer:active {
  content: '';
  box-shadow: inset 0px 0px 50px 19px #db9e1b;
}
.footer-colums {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 45px;
}
.footer-colums .news-letter {
  width: 27%;
}
.footer-header {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fcd157;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
  margin-bottom: 20px;
}
.footer-header-item {
  font-size: 13px;
  color: #dfdfdf;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
  line-height: 1.9em;
}
.input-info {
  width: 200px;
  height: 30px;
  margin-top: 10px;
  border: 1px solid transparent;
  padding-left: 10px;
}
.news-letter,
.account-info,
.shipping-info,
.quick-links {
  border-right: 1px solid #009c9a;
  padding-right: 20px;
}
.account-info,
.shipping-info {
  height: 130px;
}
.quick-links {
  height: 150px;
}
.Designed {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 13px;
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.5);
  padding: 20px;
}
